<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="all">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>default</group>
            <group>deserialization</group>
            <group>http</group>
        </include>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <php>
        <env name="KLINK_CORE_PRIVATE_URL" value="http://kcore.dev/"/>
        <env name="KLINK_CORE_PUBLIC_URL" value="http://kcore.dev/"/>
        <env name="KLINK_USER" value="admin@klink.org"/>
        <env name="KLINK_PASS" value="admin.klink"/>
        <env name="KLINK_ADAPTER_ID" value="XX"/>
        <env name="KLINK_INSTITUTION_ID" value="BOIL"/>
    </php>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>test</directory>
        </blacklist>
        <whitelist>
            <directory>klink</directory>
        </whitelist>
    </filter>
</phpunit>
