<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Example K-Search configuration for integration tests -->
        <env name="KSEARCH_URL" value="http://localhost:8080/"/>
        <env name="KSEARCH_APP_URL" value="http://localhost/"/>
        <env name="KSEARCH_APP_SECRET" value="app_secret"/>
    </php>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>test</directory>
        </blacklist>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
