<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="all">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>default</group>
            <group>deserialization</group>
            <group>http</group>
        </include>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <php>
        <const name="INSTITUION_ID" value="BOIL"/>
    </php>
</phpunit>