<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="App Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="INSTITUION_ID" value="KLINK"/>
        <const name="CORE_URL" value="https://klink-staging.cloudapp.net/kcore/"/>
        <const name="CORE_USER" value="admin@klink.org"/>
        <const name="CORE_PASS" value="f50345078ddaa64"/>
 

    </php>
</phpunit>