<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>default</group>
            <group>deserialization</group>
            <group>http</group>
        </include>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <php>
        <!-- Example K-Link Core configuration for integration tests -->
        <env name="KLINK_CORE_PRIVATE_URL" value="param_core_private_url"/>
        <env name="KLINK_CORE_PUBLIC_URL" value="param_core_public_url"/>
        <env name="KLINK_CORE_USER" value="param_core_user"/>
        <env name="KLINK_CORE_PASS" value="param_core_pass"/>
        <!-- These variables depends on the K-Core you are using, please configure them accordingly -->
        <env name="KLINK_CORE_PRIVATE_API_VERSION" value="2.2"/>
        <env name="KLINK_CORE_PUBLIC_API_VERSION" value="2.2"/>
        <!-- base environment variables -->
        <env name="KLINK_ADAPTER_ID" value="B1"/>
        <env name="KLINK_INSTITUTION_ID" value="BOIL"/>
    </php>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>test</directory>
        </blacklist>
        <whitelist>
            <directory>klink</directory>
        </whitelist>
    </filter>
</phpunit>
